.ipPluginAsdTranslate ul {
    list-style: none;

}
.ipPluginAsdTranslate ul li.title {
    font-weight: bold;
}
.ipPluginAsdTranslate ul li a {
    display: block;
    padding: 3px 5px;
}
.ipPluginAsdTranslate ul li.active a {
    background-color: #F1F1F1;
}

table.table td{
    width: 50%;
}

table.table textarea{
    width: 100%;
    min-height: 60px;
    border: 1px solid #ccc;
}
